
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Nunito+Sans:wght@400&display=swap');
:root{
    --main-bg-color: #2874f0;
}

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}
nav{
    display: flex;
}
.logo{
    margin: 1vh 0 0 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img{

    height: 3vh;
    padding: 0 1vw;
}
nav ul{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    padding: 1vw;
    
}
nav ul li a{
    margin-left: 0;
    color: white;
    /* font-size: 1.2vw; */
    text-decoration: none;
}
.a1{
    margin-left: 8vw;
}
nav ul li a:hover{
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;
   
    
}
.search input{
    width: 30vw;
    height: 5vh;
    /* border-radius: 2px; */
    margin: 0 1vw 0 2vw;
    padding: 0 1vw;
    font-family: 'Nunito Sans', sans-serif;
}

.btn{
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 3px;
    padding: 1px 7px;
    background-color: var(--main-bg-color);
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.btn:hover{
    font-weight: bold;
}

.container{
    min-height: calc(100vh - 10vh - 10vh);
    font-family: 'Nunito Sans', sans-serif;
    margin: 4vh 2vw;
}
.slider{
    width: 80vw;
    margin: 3vh auto;
    
}
.slider img{
    height: 40vh;
    width: 80vw;
}

.container p{
    font-size: 1.3vw;
    margin: 2vh 0;
}
.card .cricket{
    margin-left:0.8vw;
}
.card{
    margin: 3vh 0;
}
.card-item{
    display: inline-flex;
    /* justify-content: center;  */
    align-items: center;
    flex-direction: column;
    margin: 0 0.7vw;
    
}
.card-item img{
    width: 14vw;
    height: 28vh; 
    margin: 1h 0; 
}

.lines p{
    font-size: 1vw;
    margin: 0;
}

/* .text-centr{
    text-align: center;
} */
.footer{
    display: flex;
    justify-content: center;
    height: 10vh;
    font-size: 1.2vw;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}
.copyright{
    align-self: flex-end;
    padding-bottom: 0.6vh ;
}